/*ベーススタイル*/
body{
    font-family:'Noto Sans JP', sans-serif;
    margin: 0;
    line-height:1.6;
    color:#333;
    background: color #f8f8f8;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}